<!doctype html>
<html>
    <%- include('../head'); -%>
<body>
    <div class="container">
        <%- include('../navbar'); -%>
        <section class="list" style="margin-top: 20px">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">

                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <form id="myform">
                        <div class="mb-3">
                          <label for="username" class="form-label">Username </label>
                          <select class="form-control" name="id_user" id="id_user" >
                            <% username.forEach((item) => { %>
                                <option value="<%= item.id %>"><%= item.username %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="mb-3">
                            <label for="level" class="form-label">Level</label>
                            <input type="text" class="form-control" id="level" name="level">
                        </div>
                        <div class="mb-3">
                            <label for="skor" class="form-label">Skor</label>
                            <input type="text" class="form-control" id="skor" name="skor">
                        </div>                                                                                            
                        <button type="submit" id="btn_submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function(){
                $('#btn_submit').click(function(e){
                    e.preventDefault();
                    var formData = new FormData($('#myform')[0]); 
                    $.ajax({
                        type: 'POST',
                        url: "/api/history/create",
                        data: {
                            id_user : $('#id_user').val(),
                            level : $('#level').val(), 
                            skor : $('#skor').val(), 
                        },
                        // cache: false,
                        dataType : 'JSON',
                        success: function (data) {
                            alert('Data berhasil disimpan')
                            location.href="/history"
                        },
                        error:function(error){
                            console.log(error, error.responseJSON, 'ERROR');
                            alert(error.responseJSON.message)
                        }
                    });
                });
            });
        </script>
    </div>
</body>
</html>