<!doctype html>
<html>
    <%- include('head'); -%>
<body>
    <div class="container">
        <%- include('navbar'); -%>
        <section class="list" style="margin-top: 20px">
            <div class="row" style="margin-bottom: 10px">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">User Active</h5>
                          <p class="card-text"><%= data.totalActive %></p>
                        </div>
                      </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">User Not Active</h5>
                          <p class="card-text"><%= data.totalNotActive %></p>
                        </div>
                      </div>
                </div> 
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Biodata User</h5>
                          <p class="card-text"><%= data.totalBiodata %></p>
                        </div>
                      </div>
                </div>   
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">History User</h5>
                          <p class="card-text"><%= data.totalHistory %></p>
                        </div>
                      </div>
                </div>                                              
            </div>
        </section>
    </div>
</body>
</html>