<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Binar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <%= current_menu === 'home' ? 'active' : '' %>" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= current_menu === 'user' ? 'active' : '' %>" href="/user">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= current_menu === 'biodata' ? 'active' : '' %>" href="/biodata">Biodata</a>
          </li>      
          <li class="nav-item">
            <a class="nav-link <%= current_menu === 'history' ? 'active' : '' %>" href="/history">History</a>
          </li>                         
        </ul>
      </div>
      <form class="d-flex">
        <a href="logout" class="btn btn-outline-success" type="submit">Logout</a>
      </form>          
    </div>
  </nav>