<!doctype html>
<html>
    <%- include('../head'); -%>
<body>
    <div class="container">
        <%- include('../navbar'); -%>
        <section class="list" style="margin-top: 20px">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="myform">
                        <div class="mb-3">
                          <label for="username" class="form-label">Username </label>
                          <input type="hidden" class="form-control" id="id" name="id" value="<%= data.id %>">
                          <input type="text" class="form-control" id="username" name="username" value="<%= data.username %>">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" value="<%= data.password %>">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Level</label>
                            <select class="form-control" id="level" name="level">
                                <option value="super_admin"  <%= data.level == 'super_admin' ? 'selected' : '' %> >Super Admin</option>
                                <option value="user"  <%= data.level == 'user' ? 'selected' : '' %> >User</option>
                            </select>
                        </div>                          
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="isActive" name="isActive"
                          <%= data.isActive == true ? 'checked' : '' %>
                          >
                          <label class="form-check-label" for="isActive">Active</label>
                        </div>
                        <button type="submit" id="btn_submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function(){
                $('#btn_submit').click(function(e){
                    e.preventDefault();
                    var formData = new FormData($('#myform')[0]); 
                    $.ajax({
                        type: 'PUT',
                        url: "/api/user/<%= data.id %>",
                        data: {username : $('#username').val(), password : $('#password').val(), isActive : $('#isActive').is(":checked") ? 1 : 0, level : $('#level').val()},
                        // cache: false,
                        dataType : 'JSON',
                        success: function (data) {
                            alert('Data berhasil di update')
                            location.href="/user"
                        },
                        error:function(error){
                            console.log(error, error.responseJSON, 'ERROR');
                            alert(error.responseJSON.message)
                        }
                    });
                });
            });
        </script>
    </div>
</body>
</html>