<!doctype html>
<html>
    <%- include('../head'); -%>
<body>
    <div class="container">
        <%- include('../navbar'); -%>
        <section class="list" style="margin-top: 20px">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <a href="user/create" type="button" class="btn btn-primary">Create</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Level</th>
                            <th scope="col">Active</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody id="isiBody">
                        </tbody>
                      </table>
                </div>
            </div>
            
        </section>
    </div>
    <script>
      function loadData(){
        $.ajax({
              type: 'GET',
              url: "/api/user",
              dataType : 'JSON',
              success: function (data) {
                  var html = "";
                  $i = 1;
                  data.forEach(element => {
                    html +='<tr>';
                    html +='<th scope="row">'+$i+'</th>';
                    html +='<td>'+element.username+'</td>';
                    html +='<td>'+(element.level)+'</td>';
                    html +='<td>'+(element.isActive == true ? 'Active' : 'Non Active')+'</td>';
                    html +='<td>';
                    html +='<a href="/user/update/'+element.id+'" type="button" class="btn btn-success">Update</a>&nbsp;&nbsp;';
                    html +='<button type="button" class="btn btn-danger" id="btn_delete" data-id="'+element.id+'">Delete</button>';
                    html +='</td>';
                    html +='</tr>';
                    $i++;
                  });
                  $('#isiBody').html(html);
              },
              error:function(error){
                  console.log(error, error.responseJSON, 'ERROR');
                  alert(error.responseJSON.message)
              }
          });
      }
      $(document).ready(function(){
        loadData();
          $(document).on('click', '#btn_delete', function(){
            var id = $(this).data('id');
            let text = "Apakah anda yakin menghapus data ini ?";
            if (confirm(text) == true) {
              $.ajax({
                type: 'DELETE',
                url: "/api/user/"+id,
                dataType : 'JSON',
                success: function (data) {
                    alert('Data berhasil di hapus');
                    loadData();
                },
                error:function(error){
                    console.log(error, error.responseJSON, 'ERROR');
                    alert(error.responseJSON.message)
                }
              }); 
            }
          })
      });
  </script>    
</body>
</html>