<!doctype html>
<html>
    <%- include('../head'); -%>
<body>
    <div class="container">
        <%- include('../navbar'); -%>
        <section class="list" style="margin-top: 20px">
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="myform">
                        <div class="mb-3">
                          <label for="username" class="form-label">Username </label>
                          <input type="hidden" class="form-control" id="id" name="id" value="<%= data.id %>">
                          <input type="hidden" class="form-control" id="id_user" name="id_user" value="<%= data.id_user %>">
                          <select class="form-control" name="id_user" id="id_user" >
                            <% username.forEach((item) => { %>
                                <option disabled <%= data.id_user == item.id ? 'selected' : '' %> value="<%= item.id %>"><%= item.username %></option>
                            <% }) %>
                          </select>
                        </div>
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Nama Lengkap</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" value="<%= data.fullname %>">
                        </div>
                        <div class="mb-3">
                            <label for="gender" class="form-label">Jenis Kelamin</label>
                            <select class="form-control" name="gender" id="gender" >
                                <option <%= data.gender == 'Laki-laki' ? 'selected' : '' %> value="Laki-laki" >Laki-laki</option>
                                <option <%= data.gender == 'Perempuan' ? 'selected' : '' %> value="Perempuan" >Perempuan</option>
                            </select>
                        </div>  
                        <div class="mb-3">
                            <label for="placebirth" class="form-label">Tempat Lahir</label>
                            <input type="text" class="form-control" id="placebirth" name="placebirth" value="<%= data.placebirth %>">
                        </div>    
                        <div class="mb-3">
                            <label for="datebirth" class="form-label">Tgl Lahir</label>
                            <input type="date" class="form-control" id="datebirth" name="datebirth" value="<%= data.datebirth %>">
                        </div>                                                                     
                        <button type="submit" id="btn_submit" class="btn btn-primary">Update</button>
                      </form>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function(){
                $('#btn_submit').click(function(e){
                    e.preventDefault();
                    var formData = new FormData($('#myform')[0]); 
                    $.ajax({
                        type: 'PUT',
                        url: "/api/biodata/<%= data.id %>",
                        data: {
                            id_user : $('#id_user').val(),
                            fullname : $('#fullname').val(), 
                            gender : $('#gender').val(), 
                            placebirth : $('#placebirth').val(), 
                            datebirth : $('#datebirth').val(), 
                        },
                        dataType : 'JSON',
                        success: function (data) {
                            alert('Data berhasil di update')
                            location.href="/biodata"
                        },
                        error:function(error){
                            console.log(error, error.responseJSON, 'ERROR');
                            alert(error.responseJSON.message)
                        }
                    });
                });
            });
        </script>
    </div>
</body>
</html>